#container1 {
    width: 1000px;
    height: 300px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#big_box {
    width: 150px;
    height: 150px;
    background-color: yellow;
    margin: 20px;
}

#middle_box1,
#middle_box2,
#middle_box3 {
    width: 150px;
    height: 50px;
    background-color: transparent;
    display: flex;
}

#small_box {
    width: 50px;
    height: 50px;
    background-color: transparent;
}

#middle_box1 > #small_box:nth-child(2) {
    background-color: red;
}

#middle_box2 > #small_box:nth-child(1),
#middle_box2 > #small_box:nth-child(3) {
    background-color: red;
}

#middle_box3 > #small_box:nth-child(2) {
    background-color: red;
}

#container2 {
    width: 1000px;
    height: 500px;
    justify-content: space-around;
}

#box1 {
    width: 1000px;
    height: 150px;
    background-color: burlywood;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#red_box {
    width: 430px;
    height: 110px;
    background-color: brown;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#box2 {
    width: 1000px;
    height: 350px;
    background-color: beige;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#orange_box {
    width: 430px;
    height: 140px;
    background-color: orange;
    margin: 10px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#purple_box {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    margin: none;
}

#text_box {
    width: 280px;
    height: 100px;
    display: flex;
}

#img_id {
    margin: 0;
}

p {
    margin: 0;
    margin-left: 10px;
    align-self: center;
}

h4 {
    margin: 0;
    margin-left: 10px;
}

#container3 {
    width: 1000px;
    height: 2000px;
    justify-content: space-around;
}

#header_box {
    width: 1000px;
    height: 100px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header_set_box {
    width: 700px;
    height: 60px;
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

#header_input_box {
    width: 650px;
    height: 50px;
    border: 1px solid black;
    background-color: white;
}

#nav_box {
    width: 1000px;
    height: 100px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav_menu_box {
    width: 700px;
    height: 70px;
    background-color: purple;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

ul > li {
    width: 50px;
    height: 50px;
    background-color: rgb(74, 120, 105);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

#section_box {
    width: 1000px;
    height: 1500px;
    background-color: chocolate;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#section_in_box1 {
    width: 600px;
    height: 1400px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#inner_box {
    width: 550px;
    height: 300px;
    background-color: cadetblue;
    /* float: left; */
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#inner_box_detail {
    width: 250px;
    height: 250px;
    background-color: aquamarine;
}

#inner_box2 {
    width: 550px;
    height: 750px;
    background-color: chocolate;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#inner_box2_detail {
    width: 250px;
    height: 350px;
    background-color: blueviolet;
}

#section_in_box2 {
    width: 300px;
    height: 1400px;
    background-color: green;
}